<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <h2>Editig Book</h2>
      <%= form_with model:@book, local:true do |f| %>
      <div class="form-group">
      <%= f.label :Title %><br />
      <%= f.text_field :title, autofocaus: true %><br />
      </div>
      <div class="form-group">
      <%= f.label :Opinion %><br />
      <%= f.text_area :body %>
      </div>
      <div class="form-group">
        <%= f.submit "update"%>
      </div>
      <% end %>
      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>
